@media (max-width: 1000px) {
  .header-name,
  .main-bio-header h3 {
    font-size: clamp(1rem, 2rem, 3rem);
  }
}

@media (max-width: 700px) {
  .main-bio-header h3 {
    font-size: clamp(1rem, 2rem, 3rem);
  }

  .info-about-card-content-p,
  .info-experience-card-content-p {
    font-size: 0.7rem;
  }

  .header-p,
  .main-bio-header p {
    font-size: clamp(1rem, 1rem, 1.5rem);
  }
  .info-about-card-header h3,
  .info-experience-card-header h3,
  .info-contact-card-header h3 {
    font-size: clamp(0.7rem, 0.9rem, 1rem);
  }
}

@media (max-width: 580px) {
  .header {
    height: 20%;
  }

  .head-bio {
    height: 150dvh;
  } 
  
  .main-bio {
    height: 150dvh;
  }

  .info-cards {
    height: 80%;
  }

  .main-bio-header h3 {
    font-size: clamp(1rem, 1.5rem, 3rem);
  }
  .main-bio-content {
    flex-direction: column;
  }

  .main-bio-projects {
    width: 20rem;
    height: 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .info-cards {
    flex-direction: column;
  }

  .info-about-card,
  .info-experience-card,
  .info-contact-card {
    height: 20rem;
  }

  .info-about-card.appearence,
  .info-experience-card.appearence,
  .info-contact-card.appearence {
    opacity: 1;
    transform: rotate(0deg);
  }

  .info-about-card.opened,
  .info-experience-card.opened,
  .info-contact-card.opened {
    width: 20rem;
  }
  .header-dark-mode {
    top: 1%;
    background: var(--color-2-clearer);
    left: 5%;
    transform: translate(-5%, -1%);
    border-radius: 0.3rem;
    color: var(--color-3);
    cursor: pointer;
  }

  .header-languages {
    top: 1%;
    left: 95%;
    transform: translate(-95%, -1%);
    overflow: hidden;
  }
}
